<template>
<div>
    <div style='flex-direction:row;margin-top:34px;margin-left:25px;' v-if='note==1'>
        <div class='moneybox_content_row1_bgbox'>
              <text class='moneybox_content_row1_text2'>保本保息</text>
        </div>
      </div>
    <div class='unit'>
        <div class='unit_top' style='flex-direction:row;'>
          <text class='unit_text1' :style="{width:Width}">{{percentage}}</text>
          <text class='unit_text2'>{{currenttype}}</text>
        </div>
        <div class='unit_bottom'>
          <text class='moneybox_content_row3_text' :style="{width:Width+50}">{{text1}}</text>
          <div class='label3' style='margin-left:30px;'>
            <text class='label3_t'>{{intro1}}</text>
          </div>
          <div class='label3' style='margin-left:25px;'>
            <text class='label3_t'>{{intro2}}</text>
          </div>
        </div>
    </div>
</div>
</template>
<script>
    export default{
        props:['note','percentage','currenttype','text1','intro1','intro2','Width']
    }
</script>
<style scoped>
.unit{
  margin-left:15px;
  height:168px;
  border-bottom-width:1px;
  border-bottom-color: RGBA(203, 205, 215,0.5);
}
.unit_top{
  margin-top:35px;
}
.unit_text1{
  font-size:48px;
  font-family:DINAlternate-Bold;
  color:rgba(255,118,118,1);
}
.unit_text2{
  font-size:30px;
  font-family:PingFangSC-Medium;
  color:rgba(68,70,79,1);
  margin-left:80px;
  margin-top:5px;
}
.unit_bottom{
  margin-top:19px;
  flex-direction: row;
}
.label3{
  background-color:rgba(244,245,247,1);
  border-radius: 2px;
  padding:0 5px;
}
.label3_t{
  font-size:22px;
  padding:5px;
  font-family:PingFangSC-Regular;
  color:rgba(143,154,174,1);

}
.moneybox_content_row3_text{
  font-size:26px;
  font-family:PingFangSC-Regular;
  color:rgba(143,154,174,1);
}
.moneybox_content_row1_bgbox{
  height:34px; 
  padding:0 15px;
  background-color:rgba(75,160,255,1);
  border-top-right-radius:15px;
  border-bottom-left-radius:15px;
  align-items: center;
  justify-content: center;
}
.moneybox_content_row1_text2{
  font-size:20px;
  font-family:PingFangSC-Semibold;
  color:rgba(255,255,255,1);
}
</style>

