<template>
  <div class="wrapper">
   <text class="text" @click="jump('home')">首页</text>
   <text class="text" @click="jump('mine')">我的</text>
   <text class="text" @click="jump('card')">银行卡</text>
   <text class="text" @click="jump('life')">生活</text>
   <text class="text" @click="jump('invest')">投资</text>
  </div>
</template>

<style scoped>
  .wrapper {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  .text {
    margin-bottom: 50px;
    width: 500px;
    font-size: 100px;
    text-align: center;
    color: #41B883;
     border-width: 2px;
    border-style: solid;
    border-color: rgb(162, 217, 192);
    background-color: rgba(162, 217, 192, 0.2);
  }
</style>

<script>
  const navigator = weex.requireModule('navigator')
  const modal = weex.requireModule('modal')
  export default {
    name: 'App',
    data() {
    },
    methods: {
      jump (page) {
        var urlFront = weex.config.bundleUrl.split('/').slice(0,-1).join('/') + '/view/'
        var urlBack = ''
        switch (page) {
          case 'home':
            urlBack = 'home.js'
            break
          case 'mine':
            urlBack = 'mine.js'
            break
          case 'card':
            urlBack = 'card.js'
            break
          case 'life':
            urlBack = 'life.js'
            break
          case 'invest':
            urlBack = 'invest.js'
            break  
          default:
            urlBack = 'index.js'
            break
        }
        navigator.push({
          url: urlFront + urlBack,
          animated: "true"
        }, event => {
          modal.toast({ message: 'callback: ' + event }) 
        })
      }
    }
  };
</script>
